/* Header.css */
.navbar {
    background-color: #1279e1d0 !important;
    /* Dark background color */
}

.navbar-brand,.nav-link {
    color: #100909 !important;
    /* White text color */
    font-weight: bold;
}


.nav-link:hover {
    color: #cccccc !important;
    /* Light gray color on hover */
}

.navbar-toggler-icon {
    color: #140d32b5 !important;
    /* White color for the toggler icon */
}

.form-control {
    border: 3px solid #0d0814 !important;
    /* White border for the search input */
}

.btn-outline-success {
    color: #1cdc0f90 !important;
    /* White text color for the button */
    border-color: #ffffff !important;
    text-shadow: #1f2bdc;
    /* White border color for the button */
}

.btn-outline-success:hover {
    background-color: #28a745 !important;
    /* Green background color on hover */
    border-color: #28a745 !important;
    /* Green border color on hover */
    color: #ffffff !important;
    /* White text color on hover */
}

/* Center the title */


.navbar-left {
    flex: 1;
    display: flex;
    justify-content: center;
}
.container-fluid {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.navbar-brand {
    font-size: 1.5rem;
    /* Adjust the font size as needed */
}